@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Mobile Device - max width 479px */
body {
    max-height: 50%;
    width: 100%;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    background: url(pics2/splash2.jpg);
    font-family: 'Roboto', sans-serif;
}
  
/* splash page */
    .splashpage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        color: white; 
        overflow: hidden;
        position: relative;   
    }    
    .splash {
        padding-right: 15px;
        margin-left: 0;
    }
    .name {
        margin-top: 150px;
        margin-bottom: -15px;
        font-size: 30px;
        }
    .enterbtn {
        display: flex;
        height: 30px;
        width: 70px;
        padding-top: 10px;
        justify-content: center;
        align-content: center;
        border-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        background-color: none; 
    }
    .enterbtn:hover{
        background-color:rgb(rgb0, 0, 0);
        color:  pink;
        font-weight: bold;
    }

/* overall layout for content pages */
.maingrid {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 130px  1fr;
    grid-gap: 10px 10px;
    margin-top: 20px;
    margin-block-end: 10px;
    text-decoration: none;
    min-height: 100vh; 
    /* overflow: hidden; */
    position: relative;
    padding-bottom: 60px;
    grid-template-areas:    "links links links links links links"
                            "nav nav nav nav nav nav"
                            "image1 image1 image2 image2 image3 image3"
                            "content content content content content content";                ;   
}
/* sections for .maingrid */
.maingrid section {
    display: flex;
    position: relative;
    /* align-items: center; */
    /* justify-content: center; */
	/* padding: 5px; */
    background-color: rgb(223, 212, 212, 0.8);
	font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    /* box-shadow: 0.3em 0em 1em 1em ; */
    /* height: 100vh; */
}
#link {
    grid-area: links;
    display: flex;
    grid-column: 1/8; 
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    height: 30px;
    border: none;
}
#link a:link {
    color: black;
}
#link a:visited {
    color: black;
}
#link a:hover {
        grid-area: links;
        color: rgb(37,136,166);
    }
#link a:active {
        color: black;
      }
#navigation {
    /* grid-area: nav; */
    display: flex;
    grid-column: 1/8;
    grid-row: 2;
    background-color: rgba(23, 14, 123, 0.187);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-left: -100px;
    align-content: center;
    justify-content: space-evenly;
} 

#navigation a{
    grid-area: nav;
    display: flex;
    justify-content: left;
    font-size: 12px;
    padding: 0;
    margin-top: 10px;
    text-decoration: none;
    color: whitesmoke;
    }

#navigation a:hover {
        grid-area: nav;
        color: plum;
        font-weight: bold;
        text-decoration: underline dotted ;    
    }

section img{
        max-width: 110px;
        max-height: 110px;
        float: right;
        display: flex;
        justify-items: center;
        padding: 10px;
}

#image1 {
    display: flex;
    grid-column: 1/8;
    grid-row: 3;
    justify-content: center;
    max-width: 130px;
    max-height: 130px;
    align-content: center;
    background: white;
    margin-left: 15px;
}
#image2 {
    grid-area: image2;
    display: none;
    grid-column: 3/7;
    grid-row: 3;
} 

#image3 {
    grid-area: image3;
    display: inline-flex;
    display: flex;
    grid-column: 7/8;
    grid-row: 3;
    max-width: 130px;
    max-height: 130px;
    background: white;
    margin-right: 15px; 
}

#aboutme {
    grid-area: content;
    display: inline-flex;
    grid-column: 1/8;
    grid-row: 4;  
    flex-direction: column;
    border: none; 
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    max-height: 100%;
}

#aboutme h1 {
    grid-area: content;
    display: flex;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 10px 10px 10px 10px;
    font-size: 24px;
    font-weight: bold;
    /* margin-top:70px; */
    /* margin-right: 150px; */
}
#aboutme p {
    grid-area: content;
    margin: 0px 10px 10px 10px;
    text-align: justify;
    text-justify: auto inter-word inter-character none initial inherit;
    font-size: 12px;
    max-width: 90%;
}
/*CONTACT ME PAGE */
#aboutme .form {
    grid-column: 1/7;
    display: flex;
    align-content: top;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
    padding: 12px;
    resize: vertical;
}

#submit {
    background-color: rgb(24, 21, 21,0.7);
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: lightcyan;
}

#dropdown {
    color: white;
    font-size: 12px;
    margin-bottom: 10px; 
}

 /*FOOTER*/ 
#footer { 
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:rgb(6, 7, 23);  
    color:rgb(38, 40, 57);
    margin-bottom: -10px;
    text-indent: 30px;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}
/*CONTENT FOR PORTFOLIO PAGE*/
.nested article .icons {
    float:left;
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
.nested article .eicons {
    float:left;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 70px;
    margin-bottom: 5px;
}

#aboutme h2 {
    margin-top: 0px;
    font-size: 0.8em;
}
#resume {
    height: 70px;
}
#resume a:link {
    color:white;
    height: 50px;
}
#resume a:visited {
    color: white;
}
#resume a:hover {
        grid-area: links;
        color: rgb(37,136,166);
    }
#resume a:active {
        color: white;
      }
/*GRID FOR BLOG PAGE */
.nested {
    margin: 20px;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    grid-column: 1/6;
}
.nested img .blogpic{
    margin-top: 0px;
    width: 100px;
    height: 80px;
    float: right;
}
.nested article{
    border: 1px solid #fff;
    padding: 20px;
    margin: 0px;
    margin-bottom: 20px;
    min-height: 300px;
}
article p{
    max-width: 70%;    
    font-size: 16px;
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 799px)
{
    .maingrid section {
    background-color: rgba(87, 87, 94, 0.4);
	font-size: 1.5em;
    font-weight: 300;
    color: white;
    }
    .maingrid {
        margin-left: 50px; 
        margin-right: 50px;
        grid-template-columns: 130px 1fr 1fr 130px 1fr 1fr 130px;
        grid-template-rows: 30px 30px 130px  3fr;
        grid-gap: 20px 20px;
    } 
    #link {
        display: flex;
        grid-column: 1/8;
    }
    #navigation {
            display: flex;
            grid-column: 1/8;
        }

        section img{
            width: 150px;
            height: 150px;
            display: flex;
            justify-items: center;
            padding: 10px;  
        }
        #image2 {
            display: flex;
            grid-column: 1/2;
            grid-row: 3;
            justify-content: center;
            max-width: 130px;
            max-height: 130px;
            background-color: white;
            align-content: center;
        }
        
        #image1 {
                display: flex;
                grid-column: 4/5;
                grid-row: 3;
                justify-content: center;
                max-width: 130px;
                max-height: 130px;
                align-content: center;
                background-color: white;
                margin-left: 5px;
        } 
        
        #image3 {
            display: flex;
            grid-column: 7/8;
            grid-row: 3;
            justify-content: right;
            max-width: 130px;
            max-height: 130px;
            align-content: center;
            background-color: white;
            margin-right: -10px;
        }
    #aboutme {
        display: flex;
        grid-column: 1/8;
    }
    #aboutme .aboutmesect p {
        font-size: 14px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        width: 100%;
    }
    
    .aboutmesect {
        margin: 20px;
        grid-template-columns: 1fr;
        grid-column: 1/4; 
        min-height: 70%;
        border: 1px solid #fff;
    }
    
    .aboutmesect article{
        padding: 20px;
        min-height: 300px;
        font-size: 16px;
    }
    /*CONTACT ME PAGE */


/*About Me */
#aboutme .form {
    grid-column: 1/4;
    display: flex;
    margin-top: -150px;
    align-content: top;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#aboutme .form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 80%;
    padding: 12px;
    resize: vertical;
}


  /*CONTENT FOR PORTFOLIO PAGE*/
.nested article .icons {
    float:left;
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 170px;
    margin-bottom: 5px;
}
    /* grid for blog page */
.nested {
    /* grid: inherit; */
    /* grid-template-areas: 1fr 1fr 1fr 1fr 1fr;
    display: grid;*/
    margin: 20px;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    grid-column: 1/4;
    
}
.nested img .blogpic {
    margin-top: 0px;
    width: 200px;
    height: 180px;
    float: right;
}
.nested article{
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    min-height: 300px;
    font-size: 16px;
}

.nested h2{
    margin-left: 10px;
    font-size: 20px;
}
article p {
        max-width: 50%;    
}
}


/* DESKTOP */
@media screen and (min-width: 800px)
{
.maingrid {
    margin-left: 70px; 
    margin-right: 70px;
    grid-template-columns: 230px 1fr 1fr 230px 1fr 1fr 230px;
    grid-template-rows: 40px 40px 230px  3fr;
    grid-gap: 20px 20px; 
    margin-block-end: 20px;  
} 

#link {
    height: 40px;
    padding-top: 10px;
    scale: 100%;
    display: flex;
    grid-column: 1/8;
}
#navigation{
    display: flex;
    grid-column: 1/8;
}
#navigation a{
    font-size: 16px;
    letter-spacing: 0.3em;
}
/* image properties for top three pitcures */
section img{
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-items: center;
    padding: 15px;  
}
#image2 {
    display: flex;
    grid-column: 1/2;
    grid-row: 3;
    justify-content: center;
    min-width: 230px;
    min-height: 230px;
    background-color: white;
    align-content: center;  
}

#image1 {
        display: flex;
        grid-column: 4/5;
        grid-row: 3;
        justify-content: center;
        min-width: 230px;
        min-height: 230px;
        align-content: center;
        background-color: white;
        margin-left: 0px;
}

#image3 {
    display: flex;
    grid-column: 7/8;
    grid-row: 3;
    justify-content: right;
    min-width: 230px;
    min-height: 230px;
    align-content: center;
    background-color: white;
}
/*MAIN CONTENT DIMENSIONS FOR ALL PAGES*/
#aboutme {
    display: flex;
    grid-column: 1/8;
}
#aboutme {
    border: 5px solid white;
}
#aboutme h1 {
    margin: 20px 20px 20px 20px;
    font-size: 30px;
    letter-spacing: 0.3em;
}
/*ABOUT ME PAGE - CONTENT SECTION*/
#aboutme .aboutmesect p {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    width: 100%;
}

.aboutmesect {
    margin: 20px;
    grid-template-columns: 1fr;
    grid-column: 1/4; 
    min-height: 70%;
    border: 1px solid #fff;
}

.aboutmesect article{
    padding: 20px;
    min-height: 300px;
    font-size: 16px;
}
/*PORTFOLIO PAGE*/
.nested article .icons {
    float:left;
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
}
/*BLOG PAGE - CONTENT SECTION*/
/*GRID SIZING*/
.nested {
    margin: 20px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-column: 1/4; 
}
.nested img .blogpic {
    margin-top: 0px;
    width: 200px;
    height: 180px;
    float: right;
}
.nested article{
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    min-height: 300px;
    font-size: 16px;
}

/*BLOG GRID contents*/
.nested h2{
    margin-left: 10px;
    font-size: 20px;
}
.nested article p{
        width: 70%;    
    }
/*CONTACT ME PAGE */

#aboutme .form {
    grid-column: 1/4;
    display: flex;
    margin-top: -150px;
    align-content: top;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding: 12px;
    resize: vertical;
}

}
